<div class="home">
<div class="hero-unit">
	<h2>Objective Structured Clinical Examination</h2>
	Nesnel Yapılandırılmış Klinik Sınav, sınava girenlerin bilgi ve becerilerini test eden, ölçülmek istenen konu hedeflerine uygun sayıdaki istasyon döngülerinden oluşur. Bu sınavın işleyişinde, bir istasyon için belirlenmiş görevin belirli bir süre içinde gerçekleştirilmesinden sonra diğer istasyona geçiş kurgulanmıştır.

</div>
<div class = "row" >
    <div class="span3">
	    <h4>Öğrenci modunda giriş yaparak Nesnel Yapılandırılmış Klinik Sınav sorularını çözmeye başlayabilirsiniz.</h4>
	    <p><a href="#" class="btn btn-primary">Öğrenci Modu</a></p></div>
    <div class="span3">
	    <h4>Editör modunda giriş yaparak sınav sorularını sisteme girebilir silebilir ve düzenlemeler yapabilirsiniz.</h4>
	    <p><a href="#" class="btn btn-primary">Editor Modu</a></p></div>
    <div class="span3">
	    <h4>Admin modunda giriş yaparak kullanıcıları ekleyebilir güncelleştirebilir veya silebilirsiniz.</h4><p>
	    <a href="#" class="btn btn-primary">Admin Modu</a></p></div>
    <div class="span3">
	    <h4>Juri modunda giriş yaparak sorulara verilen cevaplara uygun puanlamalar yapabilirsiniz.</h4>
	    <a href="#" class="btn btn-primary">Juri Modu</a></p></div>
</div>
